<html>
<head>
  <title>Home</title>
</head>
<body>
<h1>Home page</h1>
<h2>See the user data on '/user'</h2>
<h2>Go to formpage with '/formpage' </h2>
<h2>Go to admin page by '/admin'</h2>
<h2>Relative url with template '/relative'</h2>
<h2>Inheritance example in '/inheritance'</h2>
<h2>For Filter example go to '/filter'</h2>
<h2>For registration go to '/reg'</h2>
<h2>For login fo to '/log'</h2>
<h2>CBV template view /cbv2</h2>
<h2>CBV List view /sclist </h2>
<h2>Create cbv /cbvcreate </h2>
</body>
</html>
