<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>cbvdetailsviews</title>
  </head>
  <body>
<h1>CBV DetailsViews</h1>
<h2> School Name: {{school_details.scname}}</a></h2>
<h3> principal: {{school_details.principal}}</h3>
<h3> Address: {{school_details.address}}</h3>
<h3>Name of students</h3>
{% for st in school_details.students.all %}
<h4>{{ st.name }}</h3>
{% endfor%}
<p> <a href=" {% url 'update' pk=school_details.pk %}">update</a> </p>
</body>
</html>
